@import url("https://fonts.googleapis.com/css?family=Roboto");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  font-family: Georgia, serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('../public/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.services {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('../public/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


form {
  width: 100%;
}

.loginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.pwStrRow {
  width: 63%;
  text-align: left;
  margin: auto;
  padding: 0;
  font-size: 12px;
}

.pwStrWeak {
  display: inline-block;
  position: relative;
  left: 0;
  padding: 0;
  margin: 0;
  color: gray;
}

.pwStrStrong {
  display: inline-block;
  position: relative;
  left: 77%;
  padding: 0;
  margin: 0;
  color: gray;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}
.events-list, .artists-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.artists-list {
  height: 80vh;
  overflow: auto;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.42); 
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.42);
  margin: 8px;
}

.event-item, .artist-item {
  background-color: #d79922;
  margin: 8px;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.42); 
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.42);
  height: 400px;
}

.artist-item {
  background-color: #4056a1;
  color: white;
}

.event-item-card, .artist-item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.event-item-title, .event-item-location, .event-item-date, .event-item-details, .artist-item-name, .artist-item-type, .artist-item-skills, .artist-item-description {
  margin: 2px;
}

.event-item-title, .artist-item-name {
  font-size: 20px;
}

.event-item-details {
  height: 100%;
  overflow: auto;
}

.artist-item-accept-button {
  background-color: #23b973;
}

.artist-item-decline-button {
  background-color: #ffc107;
}

.event-item-details-link, .artist-item-details-link {
  display: block;
  text-decoration: none;
  color: black;
}

.organizer-and-applicants-container {
  display: flex;
}

.create-event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
}

.create-event-form-input {
  background-color: #d7982281;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 20vw;
  margin: 8px 0 8px 0;
  padding: 8px;
}

.create-event-form-checkbox {
  margin: 4px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}

.apply-filters-button {
  background-color: #d79922;
  color: white;
}